name: build
on:
  workflow_call:
    inputs:
      test-coverage-upload-role:
        description: role to assume to upload test coverage results to S3.
        type: string
        required: false
      test-coverage-upload-bucket:
        description: S3 bucket to upload test coverage results to.
        type: string
        required: false
permissions:
  packages: write
  contents: write
  pull-requests: write
  id-token: write
jobs:
  build-app:
    uses: GeoNet/Actions/.github/workflows/reusable-go-apps.yml@main
    with:
      testSetup: |
        docker run --name localstack -d --rm -p 4566:4566 -p 4510-4559:4510-4559 docker.io/localstack/localstack:4.10.0
        echo "waiting for localstack to be ready"
        until curl -v localhost:4566; do
          sleep 1s
        done
        echo "waiting for localstack service status to be ready"
        until [[ "$(curl -s localhost:4566/_localstack/init | jq -r .completed.READY)" == "true" ]]; do
          sleep 1s
        done
      goTestExtraArgs: -p 1 --tags localstack
      test-coverage-upload-role: ${{ inputs.test-coverage-upload-role }}
      test-coverage-upload-bucket: ${{ inputs.test-coverage-upload-bucket }}
